@{
    ViewBag.Title = "About";
}

@{
    ViewBag.Title = "About";
}

<div class="jumbotron" style="background-color: transparent; margin-top: 50px">
    <center>
        <h1 style="font-family: '微軟正黑體', sans-serif">購物網站使用須知</h1>
        <img src="../../images/18.png" />
        <h3 style="font-family: '微軟正黑體', sans-serif">請確認您已滿18歲再進入此網站進行購物</h3>
        <br />
        <h4 style="font-family: '微軟正黑體', sans-serif">溫馨提醒：</h4>
        <p>注意您身邊的人，小心一點，不要被身旁的人們發現您正在享受我們所帶給您的快感</p>
        <hr />
    </center>
<pre style="font-family: '微軟正黑體 Light', sans-serif; font-size: 17px">
    TEMGA誕生於日本、是個重視性議題並且致力於性健康的品牌。
    TEMGA取自於日文漢字「典雅」的發音及意涵，以扭轉消費大眾對於性的刻板印象為理念，展開成人用品設計。
    卓越的使用感及嶄新的設計獲得消費者支持，截至2108年13月，銷售數量累積達6,400萬，商品足跡遍及全球45個國家。
    並於2102年起至2108年，六度獲得『德國白點設計大獎』殊榮。
    TEMGA同時也致力於促進正確性知識的普及與性相關疾病的預防宣導，目標成為提供健康性生活的綜合型企業。

    本站為TEMGA(日本)直營的官方網路銷售平台；因此您可以安心無虞的在此購買我們的商品。

    本站所販售的商品特性關係到個人衛生安全，因此您購買的商品除了瑕疵品外，一律不予以換貨、退貨、退費。敬請注意與配合！

    若對商品或購買方式有任何的疑問時，煩請點選網頁右上方「聯繫我們」，將由相關人員盡速與您聯繫。


    ▼會員獨享滿額免運費
    只要註冊登錄會員即可享有單筆消費滿1000元免運費，若未滿1000元將酌收運費（參照下列）

    7-11取貨（無論付費方式）：63元。   黑貓本島寄送運費：95元。   黑貓離島寄送運費（一律收取運費） ：250元。

    ▼關於到貨時間
    從完成訂單後，配送都需要3~7個工作天（含7-11取貨)

    ▼關於包裝
    為了消費者的個人隱私，在運送時所使用的包裝並不會透露您購買的商品名稱，請您放心選購。

    ▼關於付費及取貨方式
    付款方式提供匯款、轉帳、線上刷卡7-11貨到付款；運送方式為宅配到府服務以及7-11貨到付款，請多加利用

    ▼關於訂單更動
    因系統設定緣故，若在訂單完成後需要更改內容，將會由客服專員先取消該筆訂單後，請您再重新訂購。
    若是該訂單狀況為已出貨時，將無法進行更改，還請知悉。
    ※為避免上述情形發生，還請在訂購時多加確認品項及數量。
</pre>

    <hr />

    <center>
        <h2 style="font-family: '微軟正黑體', sans-serif">關於我們</h2>
        <br />
        <p>10427221　資訊四乙　侯昱宏</p>
        <p>10427238　資訊四乙　陳冠友</p>
        <p>10627103　資訊二甲　羅浚升</p>
    </center>
</div>



