@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron" style="background-color: transparent; margin-top: 50px">
    <h2 style="font-family: '微軟正黑體', sans-serif">404. That's an error.</h2>
    <h3 style="font-family: '微軟正黑體', sans-serif">錯誤訊息：</h3>
    <h3 style="font-family: '微軟正黑體', sans-serif">停止您的動作，我們並沒有對外聯絡的方式</h3>
    <br />
    <p style="font-family: '微軟正黑體', sans-serif">
        任何您所想像得到的聯繫方式我們都沒有，唯一在您下訂單的時能與我們及時聯繫，除此之外我們並不接受任何外部通訊
    </p>
</div>